.carousel-item img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .carousel {
    margin-bottom: 30px;
  }
  
  .container {
    padding: 20px;
  }
  
  .h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .p {
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .container.utama {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  }
  
  .row {
    margin-bottom: 30px;
  }
  
  .col-md-5,
  .col-md-6 {
    padding: 20px;
  }
  